<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
</head>

<body>
<div id="loginFragment">
		<link rel="stylesheet" th:href="@{/styles/login_form.css}">

		<div id="register" class="reg hide">

				<div class="head">
						<span class="close-btn" id="closeForm">&times;</span>
						<h2>Log in</h2>
				</div>

				<form th:action="@{/login}" method="post">
						<div class="main">
								<input id="username" class="inputUsername" type="text" name="username" placeholder="enter username...">
								<input id="passwordLogin" class="inputPasswordLogin" type="password" name="password"
								       placeholder="enter password...">
								<h4 class="emptyLogin hide">the field is empty</h4>
								<button id="login" class="signup" type="submit">Log In</button>
								<h4>Don't have an account?  <span id="sign-up">Sign up</span></h4>
						</div>
				</form>

		</div>
</div>
</body>
</html>