<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Header</title>
</head>


<body>
<header id="headerFragment">
		<link rel="icon" type="image/png" th:href="@{/images/Echo-logo.svg}">
		<link rel="stylesheet" th:href="@{/styles/shlyapa.css}">

		<!-- not authenticated -->
		<div sec:authorize="isAnonymous()">
				<div th:insert="~{fragments/login-form :: #loginFragment}"></div>
				<div th:insert="~{fragments/register-form :: #registerFragment}"></div>
		</div>

		<!-- authenticated -->
		<div sec:authorize="isAuthenticated()">
				<button type="submit" th:action="@{/logout}">Logout</button>
		</div>

		<!-- HEADER COMPONENTS -->
		<div class="container">

				<div class="logo-search">
						<a th:href="@{/web/main}"><img src="/images/logo.png" width="90px" alt="Logo"></a>
						<div class="search-wrapper">
								<input type="text" placeholder="Search..." class="search-input">
						</div>
				</div>

				<div class="header-actions">
						<a class="message-btn">
								<img src="/images/message-icon.png" alt="Message Button" width="66px" height="55px">
						</a>
						<a th:href="@{/web/home}" class="profile-btn">
								<img src="/images/profile-icon.png" alt="Profile Button" width="46px" height="55px">
						</a>
						<button class="header-btn" hidden>Log Out</button>
						<button class="login-btn header-btn">Log In</button>
				</div>

		</div>

</header>
</body>
</html>