<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/errors-page.css">
</head>
<body>
    
    <div class="error-container">
        <div class="error-info">
            <img src="../static/images/sad.svg" alt="" width="300px">
                <p class="main-error">404</p>
                <p class="what-error">Page not found</p>
                <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, quaerat.</small>
        </div>
    </div>






</body>
</html>