<!DOCTYPE html>
<html lang="en">

<head>
		<title>Echo </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" th:href="@{/images/Echo-logo.svg}">
		<link rel="stylesheet" th:href="@{/styles/shlyapa.css}">
		<link rel="stylesheet" th:href="@{/styles/login_form.css}">
		<link rel="stylesheet" th:href="@{/styles/register_form.css}">
		<link rel="stylesheet" th:href="@{/styles/home-page.css}">
		<link rel="stylesheet" th:href="@{/styles/home-p-adaptation.css}">
</head>

<body>

<header class="main-header" th:insert="~{fragments/shlyapa :: #headerFragment}"></header>

<main>
		<div class="home-page-container">
				<div class="user-info-container">
						<div class="user-nick">
								<img src="/images/user-icon-photo.png" alt="User photo">
								<h1 class="user-nickName">hmmaybyes</h1>
						</div>
						<div class="user-info">
								<p>Email: <a href="mailto:bogdan228@gmail.com">bogdan228@gmail.com</a></p>
								<p>Phone number: <a href="tel:+380971773437">+380 97 177 34 37</a></p>
								<p class="description">газом їбануть?</p>
						</div>
						<button class="edit-button">Edit
								<svg class="edit-icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
								     xmlns="http://www.w3.org/2000/svg">
										<path
														d="M19.0176 7.47798L20.7697 5.72578C21.7375 4.75807 23.3065 4.75807 24.2742 5.72578C25.2419 6.6935 25.2419 8.26247 24.2742 9.23018L22.522 10.9824M19.0176 7.47798L8.72529 17.7704C7.41866 19.077 6.76532 19.7302 6.32046 20.5264C5.87559 21.3225 5.428 23.2024 5 25C6.79761 24.572 8.67749 24.1244 9.47361 23.6795C10.2697 23.2346 10.923 22.5814 12.2297 21.2747L22.522 10.9824M19.0176 7.47798L22.522 10.9824"
														stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
										<path d="M13.75 25H21.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
								</svg>
						</button>
				</div>
				<div class="posts-and-button">
						<button class="add-post-button">Create post +</button>
						<div class="user-posts-container">
								<div class="user-post">
										<div class="user-post-header">
												<div class="user-post-name">
														<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
														<h3 class="user-post-name">User_Name228</h3>
												</div>
										</div>
										<div class="user-post-description">
												<p>description description description description description description description
														description
														description description description description description description</p>
										</div>
										<div class="user-postcontent">
												<img class="user-post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
										</div>
										<div class="user-underpost-actions">
												<button class="user-action-button">
														<img src="/images/like-icon.svg" alt="like-icon">
														<span>Like</span>
												</button>
												<button class="user-action-button">
														<img src="/images/comments-icon.svg" alt="comments-icon">
														<span>Comments</span>
												</button>
										</div>
								</div>
								<div class="user-post">
										<div class="user-post-header">
												<div class="user-post-name">
														<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
														<h3 class="user-post-name">User_Name228</h3>
												</div>
										</div>
										<div class="user-post-description">
												<p>description description description description description description description
														description
														description description description description description description</p>
										</div>
										<div class="user-postcontent">
												<img class="user-post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
										</div>
										<div class="user-underpost-actions">
												<button class="user-action-button">
														<img src="/images/like-icon.svg" alt="like-icon">
														<span>Like</span>
												</button>
												<button class="user-action-button">
														<img src="/images/comments-icon.svg" alt="comments-icon">
														<span>Comments</span>
												</button>
										</div>
								</div>
								<div class="user-post">
										<div class="user-post-header">
												<div class="user-post-name">
														<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
														<h3 class="user-post-name">User_Name228</h3>
												</div>
										</div>
										<div class="user-post-description">
												<p>description description description description description description description
														description
														description description description description description description</p>
										</div>
										<div class="user-postcontent">
												<img class="user-post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
										</div>
										<div class="user-underpost-actions">
												<button class="user-action-button">
														<img src="/images/like-icon.svg" alt="like-icon">
														<span>Like</span>
												</button>
												<button class="user-action-button">
														<img src="/images/comments-icon.svg" alt="comments-icon">
														<span>Comments</span>
												</button>
										</div>
								</div>
								<div class="user-post">
										<div class="user-post-header">
												<div class="user-post-name">
														<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
														<h3 class="user-post-name">User_Name228</h3>
												</div>
										</div>
										<div class="user-post-description">
												<p>description description description description description description description
														description
														description description description description description description</p>
										</div>
										<div class="user-postcontent">
												<img class="user-post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
										</div>
										<div class="user-underpost-actions">
												<button class="user-action-button">
														<img src="/images/like-icon.svg" alt="like-icon">
														<span>Like</span>
												</button>
												<button class="user-action-button">
														<img src="/images/comments-icon.svg" alt="comments-icon">
														<span>Comments</span>
												</button>
										</div>
								</div>
								<div class="user-post">
										<div class="user-post-header">
												<div class="user-post-name">
														<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
														<h3 class="user-post-name">User_Name228</h3>
												</div>
										</div>
										<div class="user-post-description">
												<p>description description description description description description description
														description
														description description description description description description</p>
										</div>
										<div class="user-postcontent">
												<img class="user-post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
										</div>
										<div class="user-underpost-actions">
												<button class="user-action-button">
														<img src="/images/like-icon.svg" alt="like-icon">
														<span>Like</span>
												</button>
												<button class="user-action-button">
														<img src="/images/comments-icon.svg" alt="comments-icon">
														<span>Comments</span>
												</button>
										</div>
								</div>
								<div class="user-post">
										<div class="user-post-header">
												<div class="user-post-name">
														<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
														<h3 class="user-post-name">User_Name228</h3>
												</div>
										</div>
										<div class="user-post-description">
												<p>description description description description description description description
														description
														description description description description description description</p>
										</div>
										<div class="user-postcontent">
												<img class="user-post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
										</div>
										<div class="user-underpost-actions">
												<button class="user-action-button">
														<img src="/images/like-icon.svg" alt="like-icon">
														<span>Like</span>
												</button>
												<button class="user-action-button">
														<img src="/images/comments-icon.svg" alt="comments-icon">
														<span>Comments</span>
												</button>
										</div>
								</div>
						</div>
				</div>
		</div>
</main>
<script src="/scripts/login-script.js"></script>
</body>

</html>