<!DOCTYPE html>
<html lang="en">

<head>
		<title>Echo</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/styles/main-page.css}">
</head>


<body>

<header class="main-header" th:insert="~{fragments/shlyapa :: #headerFragment}"></header>

<main>
		<div class="posts-container">
				<div class="post">
						<div class="post-header">
								<div class="post-user-name">
										<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
										<h3 class="user-name">User_Name228</h3>
								</div>
								<button class="follow-button">Follow +</button>
						</div>
						<div class="post-description">
								<p>description description description description description description description description
										description description description description description description</p>
						</div>
						<div class="postcontent">

								<img class="post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
						</div>
						<div class="underpost-actions">
								<button class="action-button">
										<img src="/images/like-icon.svg" alt="like-icon">
										<span>Like</span>
								</button>
								<button class="action-button">
										<img src="/images/comments-icon.svg" alt="comments-icon">
										<span>Comments</span>
								</button>
						</div>
				</div>
				<div class="post">
						<div class="post-header">
								<div class="post-user-name">
										<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
										<h3 class="user-name">User_Name228</h3>
								</div>
								<button class="follow-button">Follow +</button>
						</div>
						<div class="post-description">
								<p>description description description description description description description description
										description description description description description description</p>
						</div>
						<div class="postcontent">

								<img class="post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
						</div>
						<div class="underpost-actions">
								<button class="action-button">
										<img src="/images/like-icon.svg" alt="like-icon">
										<span>Like</span>
								</button>
								<button class="action-button">
										<img src="/images/comments-icon.svg" alt="comments-icon">
										<span>Comments</span>
								</button>
						</div>
				</div>
				<div class="post">
						<div class="post-header">
								<div class="post-user-name">
										<img class="user-icon" src="/images/user-icon.svg" alt="user-icon">
										<h3 class="user-name">User_Name228</h3>
								</div>
								<button class="follow-button">Follow +</button>
						</div>
						<div class="post-description">
								<p>description description description description description description description description
										description description description description description description</p>
						</div>
						<div class="postcontent">

								<img class="post-photo" src="/images/Bodya.webp" alt="Bodya-with-car">
						</div>
						<div class="underpost-actions">
								<button class="action-button">
										<img src="/images/like-icon.svg" alt="like-icon">
										<span>Like</span>
								</button>
								<button class="action-button">
										<img src="/images/comments-icon.svg" alt="comments-icon">
										<span>Comments</span>
								</button>
						</div>
				</div>
		</div>
</main>

<script src="/scripts/login-script.js"></script>
<script>
		window.onload = function () {
				showLogin(new URLSearchParams(window.location.search), document);
		};
</script>
</body>
</html>