<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo</title>
    <link rel="stylesheet" href="../static/styles/post-editor.css">
</head>

<body>
    <div class="editor-modal" id="editor-modal">
        <div class="editor-container">
            <div class="editor-head">
                <h3 class="editor-header">Editor</h3>
                <span class="close-button" id="close-button">&times;</span>
            </div>
            <div class="editor-window">
                <img src="../static/images/editor-img.png" alt="editor-img">
                <h2 class="editor-window-header">To start, select a file</h2>
                <input type="file" id="uploadBtn" accept=".png, .jpeg">
                <label for="uploadBtn">Download from computer</label>
            </div>
            <div class="editor-continue-btn">
                <button class="continue-btn">Сontinue</button>
            </div>
        </div>
    </div>
</body>

</html>