<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo</title>
    <link rel="stylesheet" href="../static/styles/post-descr-editor.css">
</head>

<body>
    <div class="editor-modal-descr" id="editor-modal-descr">
        <div class="editor-container editor-container-descr">
            <div class="descr-head">
                <div class="descr-user">
                    <img src="../static/images/user-icon.svg" alt="Bodya">
                    <h3 class="descr-user-nick">hmmaybyes</h3>
                </div>
                <span class="close-button" id="close-descr-btn">&times;</span>
            </div>
            <div class="description">
                <textarea class="description-area" placeholder="Enter description..."></textarea>
            </div>
            <div class="user-file">
                <img class="user-photo" src="../static/images/Bodya.webp" alt="Bodya">
            </div>
            <div class="editor-publish-btn">
                <button class="publish-btn">Publish</button>
            </div>
        </div>
    </div>
</body>

</html>