.editor-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}

.editor-modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Напівпрозорий фон */
    z-index: -1;
}

.no-scroll {
    overflow: hidden;
    /* Забороняє прокручування */
}

.editor-container {
    background-color: white;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    width: 970px;
    height: 700px;
}

/* Editor head */
.editor-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}

.editor-header {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    color: #004e89;
}

.close-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, ;
    font-size: 30px;
    color: #004e89;
}

.close-button:hover {
    background-color: #004e89;
    color: white;
    box-shadow: 0 0 10px #004e89;
}

/* Editor window */

.editor-window {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 118px 0;

}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    color: white;
    background-color: #41BDFF;
    text-align: center;
    padding: 14px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

label:hover {
    background-color: #1f8cc7;
}

label:active {
    transform: scale(0.95);
}

.editor-window-header {
    font-weight: 400;
    font-size: 30px;
    color: #686868;
}

/* Editor continue btn */

.editor-continue-btn {
    display: flex;
    justify-content: flex-end;
    padding: 32px 24px;
    align-items: center;
}

.continue-btn {
    padding: 10px 52px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    border-radius: 16px;
    border: none;
    background-color: #41BDFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-btn:hover {
    background-color: #1f8cc7;
}

.continue-btn:active {
    transform: scale(0.95);
}